#container{
    width: 500px;
    height: 500px;  
    display: flex;
    flex-direction: column;
}


div[class^='line'], div[class*='line']{
    display: flex;
}

div[class^='div'], div[class*='div']{
    aspect-ratio: 1/1;
    
}
