#container{
    width: 800px;
    height: 800px;  
    display: flex;
    flex-direction: column;
}


.line{
    flex: 1;
    display: flex;
    min-height: 1px;
    min-height: 1px;
}

.box{
    min-height: 1px;
    min-height: 1px;
    aspect-ratio: 1/1;
}
